// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$space-color: #424B54;

body {
  background: $space-color;
}

p {
  color: white;
}

h1 {
  color: black;
}

a {
  color: red;
  &:hover {
    color: black;
  }
}
